/*
.test-box {
    background: #9db6dd;
    margin: 50px;
    width: 200px;
}

.test-box-nosizing {
    border: 10px solid #000;
    padding: 40px;
}

.test-box-sizing {
    box-sizing: border-box;
    width: auto;
}
*/

.bio-box {
    border: 1px solid black;
    float: left;
    font-size: 1rem;
    padding: 2%;
    width: 25%;
}

.bio-wrapper {
    background-color: aquamarine;
    font-size: 24px;
    height: 600px;
    overflow: scroll;
/*    overflow: hidden;  */
}

.bio-wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}